doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Simple Dashboard
  link(rel='stylesheet' href='/CSS/dashboard.css')
header
  h1 Dashboard
.container
  nav
    h2 Menu
    a(href='#') Home
    a(href='#') Reports
    a(href='#') Settings
  main
    .card
      h3 Total Revenue
      p $84,220
    .card
      h3 Orders
      p 1,942
    .card
      h3 Customers
      p 7,318
