doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales Table
  link(rel='stylesheet' href='/CSS/sales.css')
h2 Sales Table
table
  thead
    tr
      th Sale ID
      th Customer Name
      th Product
      th Quantity
      th Price per Item
      th Total
      th Date
  tbody
    tr
      td 001
      td John Mulidde
      td Wooden Chair
      td 4
      td $50
      td $200
      td 2025-09-09
    tr
      td 002
      td Jane Adoc
      td Dining Table
      td 1
      td $300
      td $300
      td 2025-09-09
  tfoot
    tr
      td(colspan='5') Total Sales
      td(colspan='2') $500
