/* Form container */
.container {
    width: 90%;
    max-width: 400px;
    background-color: rgb(231, 222, 222);
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b0200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/* Form styles */
form label {
    display: block;
    margin-top: 15px;
    font-weight: bolder;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #2c1414;
    border-radius: 8px;
    transition: border 0.3s ease;
}

form input:focus,
form select:focus {
    border-color: #0a0200;
    outline: none;
}

/* Buttons */
form button {
    width: 100%;
    background-color: #f42404;
    color: rgb(12, 0, 0);
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #bc8a79;
}

/* Form links */
form p {
    margin-top: 15px;
    text-align: center;
    color:black;
    font-weight: bolder;
}

form a {
    color: #020000;
    font-weight: bold;
    text-decoration: none;
    font-weight: bolder;
}

form a:hover {
    background-color: #ede5e1;
}
